li {
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 1px;
}

img {
    display: block;
    width: 20%;
    height: 20%;
    margin: 0 auto;
    border: 5px solid rgb(0, 0, 0);
}

hr {
    border: 1px solid rgb(0, 0, 0);
}

p {
    color: rgb(255, 0, 0);
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: justify;
}

h1 {
    margin: 10px 5px;
    color: rgb(0, 195, 255);
    font-size: 60px;
    text-align: center;
    padding: 10px;
    background-color: rgb(37, 22, 41);
    text-shadow: -3px -3px 2px rgb(84, 69, 85);
}

h2 {
    margin: 0px 0px;
    color: rgb(255, 125, 248);
    font-size: 40px;
    text-align: center;
    /* padding: 30px; */
    /* background-color: rgb(98, 39, 112); */
    text-shadow: -2px -1px 2px rgb(187, 27, 88);
}

h3 {
    color: rgb(102, 35, 87);
    font-size: 25px;
    font-weight: 1000;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

#quote {
    font-style: italic;
    color : rgb(168, 12, 129);
    font-size: 30px;
}

.para {
    font-weight: 1000;
    color: rgb(248, 3, 85);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 20px auto;
    padding: 0 40px 40px 40px;
    width: 60%;
    width: 800px;
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(207, 167, 212);
}

html {
    background-color: rgb(28, 29, 75);
}

img {
    display: block;
    width: 50%;
    height: auto;
    margin: 0 auto;
    border: 5px solid rgb(0, 0, 0);
    /* box-shadow: 5px 5px 5px rgb(0, 0, 0); */
}

iframe {
    display: block;
    width: 80%;
    height: 300px;
    margin: 0 auto;
    /* border: 5px solid rgb(0, 0, 0); */
    /* box-shadow: 5px 5px 5px rgb(0, 0, 0); */
}